<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiempo Real - Principal</title>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/realtime/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="map">
        <div class="top-menu-wrapper">
            <div class="top-menu">
                <div id="realtime-section" class="top-menu-item selected">
                    <img src="https://cdn2.iconfinder.com/data/icons/human-resource-1/50/30-256.png" 
                        width="40" height="40" style="margin-top: 5; margin-bottom: 5" 
                    />
                </div>
                <div id="search-section" class="top-menu-item">
                    <img src="https://cdn1.iconfinder.com/data/icons/powerful-seo-icon-set/512/google_place__.png" 
                        width="40" height="40" style="margin-top: 5; margin-bottom: 5" 
                    />
                </div>
                <div id="navigation-section" class="top-menu-item">
                        <img src="https://cdn0.iconfinder.com/data/icons/map-and-navigation-2/65/66-512.png" 
                            width="40" height="40" style="margin-top: 5; margin-bottom: 5" 
                        />
                </div>
                <div id="datasets-section" class="top-menu-item">
                        <img src="http://vitaebrasil.com/img/icon/charts.PNG" 
                            width="40" height="40" style="margin-top: 5; margin-bottom: 5" 
                        />
                </div>
            </div>
            <!-- <div id="btnMic" class="float">
                <i class="fas fa-microphone my-float"></i>
            </div> -->
        </div>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/realtime/js/main.js" ></script>
</body>
</html>